.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://rosengaardenkiropraktik.dk/img/background.jpg');
  // background: rgb(230,231,225);
  // background: -moz-linear-gradient(top, rgba(230,231,225,1) 0%, rgba(238,239,234,1) 100%);
  // background: -webkit-linear-gradient(top, rgba(230,231,225,1) 0%,rgba(238,239,234,1) 100%);
  // background: linear-gradient(to bottom, rgba(230,231,225,1) 0%,rgba(238,239,234,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e1', endColorstr='#eeefea',GradientType=0 );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
